<%- include components/header.ejs %>

<link rel="stylesheet" type="text/css" href="/css/components/QuizCreator.css" />

<div id="quizEditor">

	<section class="editor-panel editor-panel-slides">
		<ul class="slides">

			<!-- Landing -->
			<li class="slide slide-landing slide-active">
				<div class="thumb">
					<span>Quiz Title</span>
				</div>
			</li>

			<!-- Questions -->
			<li class="slide slide-question">
				<div class="thumb">
					<span>Quiz Question</span>
				</div>
			</li>


      		<!-- Add Question -->
			<!-- <li id="addQuestionButton" class="slide slide-button slide-add-question">
				<div class="thumb">
					<span>Add Question</span>
				</div>
			</li> -->

			<!-- Results -->
			<li class="slide slide-results">
				<div class="thumb">
					<span>Quiz Results</span>
				</div>
			</li>

		</ul>
	</section>

	<section class="editor-panel editor-panel-editor" data-active-tab="landing">
		
		<!-- Default: Landing/Quiz Details -->
		<div class="editor-landing editor-active">
			<div class="image-preview well">
				<a href="#">
					<h2><span class="fa fa-camera"></span> Add Image</h2>
				</a>
			</div>
			
			<div class="custom-links">
				<a href="#">Customize Theme</a>
			</div>

			<div class="row">

				<!-- Title -->
				<div class="form-group col-md-6">
					<label for="quizTitle">Quiz Title</label>
					<input type="text" class="form-control" id="quizTitle" name="quizTitle" placeholder="Quiz Title..."/>
				</div>

				<!-- Scoring Type -->
				<!-- TODO: implement other scoring types -->
				<div class="form-group col-md-6">
					<label for="quizType">Scoring Type</label>
					<select class="form-control" id="quizType" name="quizType">
						<option value="mostcommon">Most Common</option>
					</select>
				</div>

			</div>

			<div class="row">

				<!-- Start Text -->
				<div class="form-group col-md-6">
					<label for="quizStartText">Start Text</label>
					<input type="text" class="form-control" id="quizStartText" name="quizStartText" placeholder="Start Text..."/>
				</div>

				<!-- End Text -->
				<div class="form-group col-md-6">
					<label for="quizRestartText">Restart Text</label>
					<input type="text" class="form-control" id="quizRestartText" name="quizRestartText" placeholder="Restart Text..."/>
				</div>
			</div>

			<!-- Description -->
			<div class="form-group">
				<label for="quizDescription">Quiz Description</label>
				<textarea id="quizDescription" class="form-control" name="quizDescription" placeholder="Quiz Description..."></textarea>
			</div>
		</div>

		<!-- Initial Question - will be copied when more questions added -->
		<div class="editor-question">
			<div class="image-preview well">
				<a href="#">
					<h2><span class="fa fa-camera"></span> Add Image</h2>
				</a>
			</div>

			<div class="form-group">
				<label for="quizQuestion1">Question</label>
				<input type="text" class="form-control" id="quizQuestion1" name="quizQuestion1" placeholder="Question Text...">
			</div>

			<div class="question-answers row">
				<div class="form-group col-md-3">
					<div class="input-group">
						<span class="input-group-addon">A</span>
						<input type="text" class="form-control" id="quizQuestion1-a" name="quizQuestion1-a" placeholder="Answer..."/>
					</div>
				</div>
				<div class="form-group col-md-3">
					<div class="input-group">
						<span class="input-group-addon">B</span>
						<input type="text" class="form-control" id="quizQuestion1-b" name="quizQuestion1-b" placeholder="Answer..."/>
					</div>
				</div>
				<div class="form-group col-md-3">
					<div class="input-group">
						<span class="input-group-addon">C</span>
						<input type="text" class="form-control" id="quizQuestion1-c" name="quizQuestion1-c" placeholder="Answer..."/>
					</div>
				</div>
				<div class="form-group col-md-3">
					<div class="input-group">
						<span class="input-group-addon">D</span>
						<input type="text" class="form-control" id="quizQuestion1-d" name="quizQuestion1-d" placeholder="Answer..."/>
					</div>
				</div>
			</div>
		</div>

		<div class="editor-results">
			<div class="result">
				<div class="image-preview well">
					<a href="#">
						<h2><span class="fa fa-camera"></span> Add Image</h2>
					</a>
				</div>

				<div class="row">
					<div class="form-group col-md-8">
						<label for="quizResult1">Result Title</label>
						<input type="text" class="form-control" id="quizResult1" name="quizResult1" placeholder="Result Title..."/>
					</div>

					<div class="form-group col-md-4">
						<label for="quizResult1-value">Corresponding Answer</label>
						<select class="form-control" id="quizResult1-value" name="quizResult1-value">
							<option value="a">A</option>
							<option value="b">B</option>
							<option value="c">C</option>
							<option value="d">D</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="quizResult1-description">Description</label>
					<textarea class="form-control" id="quizResult1-description" name="quizResult1-description" placeholder="Result Description..."></textarea>
				</div>
			</div>

			<a id="addResultButton" class="btn btn-default"><span class="fa fa-plus"></span> Add Result</a>
		</div>

	</section>

</div>

<button id="saveQuizButton" class="btn btn-lg btn-primary pull-right">Save Quiz</button>

<aside class="modal">
</aside>

<script type="text/javascript" src="/js/CreateQuiz.js"></script>

<%- include components/footer.ejs %>