<!-- views/index.ejs -->
<%- include components/header.ejs %>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><%= title %></h1>

		<p>Login or Register with:</p>

		<a href="/auth/facebook" class="btn btn-default"><span class="fa fa-user"></span> Login with Facebook</a>

		<a href="/quiz/new" class="btn btn-primary">New Quiz</a>
	</div>

</div>
<%- include components/footer.ejs %>
