
	<link rel="stylesheet" type="text/css" href="/css/components/QuizView.css" />
	<script type="text/javascript" src="/js/jquery.min.js"></script>

	<div id="quizContainer"></div>
	<script type="text/javascript">
		$.ajax({url:"http://frozen-forest-2866.herokuapp.com/api/quiz/5446a504a46e4ab014000003",method:"get",dataType:"text/html",complete:function(e){if(e.status==200){$("#quizContainer").html(e.responseText)}}});
	</script>