.social-toolbar {
  max-width: 900px;
  list-style-type: none;
  padding: 0 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .social-toolbar li {
    position: relative;
    color: WHITE;
    height: 44px;
    line-height: 44px;
    margin: 0 5px;
    min-width: 44px;
    border-bottom: 3px solid;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.2em;
    flex-grow: 1;
    overflow: hidden;
    cursor: pointer; }
    @media screen and (max-width: 650px) {
      .social-toolbar li {
        margin: 0;
        width: 44px; } }
    .social-toolbar li span {
      float: left;
      padding: 0 10px; }
      @media screen and (max-width: 650px) {
        .social-toolbar li span {
          float: none;
          padding: 0;
          margin-right: 9999px; } }
      .social-toolbar li span:before {
        font-size: 1.5em;
        line-height: 44px; }
  .social-toolbar .share-facebook {
    background: #4b68b9;
    border-color: #2c3f72; }
  .social-toolbar .share-pinterest {
    background: #ce2029;
    border-color: #761217; }
  .social-toolbar .share-twitter {
    background: #00b0ed;
    border-color: #006487; }
  .social-toolbar .share-google-plus {
    background: #dd4c39;
    border-color: #96281a; }

html, body {
  overflow: hidden;
  background: WHITE; }

* {
  box-sizing: border-box; }

button:not(#progress) {
  background-color: #1fabc5;
  color: WHITE;
  border: none;
  margin: 10px auto;
  padding: 20px 10px;
  width: 90%; }
  button:not(#progress):hover {
    background-color: #115e6d; }

#progress, .socialscript {
  margin: 30px auto;
  display: block; }

h1, h2, h3 {
  display: inline;
  padding: 5px 10px;
  line-height: 2em;
  color: #000;
  background: #FFF; }

.socialscript ul {
  list-style-type: none;
  padding: 0; }
.socialscript > ul {
  max-width: 100%;
  width: 800px;
  height: 500px; }

.transition {
  display: none;
  height: 100%;
  width: 100%;
  border: 1px solid #AAA; }
  .transition .header {
    color: WHITE; }
  .transition.active {
    display: block; }
  .transition .header, .transition .content {
    padding: 20px 10px;
    overflow: hidden; }
  .transition * {
    transition: all .2s linear; }
  .transition.horizontal .header, .transition.horizontal .content {
    float: left;
    width: 50%;
    height: 100%; }
  .transition.horizontal.closing .header, .transition.horizontal.opening .header {
    width: 0; }
  .transition.horizontal.closing .content, .transition.horizontal.opening .content {
    width: 100%; }
  .transition.vertical .header, .transition.vertical .content {
    width: 100%;
    height: 50%; }
  .transition.vertical.closing .header, .transition.vertical.opening .header {
    height: 0; }
  .transition.vertical.closing .content, .transition.vertical.opening .content {
    height: 100%; }
  .transition .header {
    background-color: #000;
    background-size: cover;
    background-position: center; }

.closing .header,
.opening .header {
  padding: 0; }

.loader {
  top: 28%; }

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .answers li {
    flex-grow: 1;
    width: 50%; }
    @media screen and (max-width: 420px) {
      .answers li {
        width: 100%; } }
    .answers li button {
      background-color: #1fabc5;
      color: WHITE;
      border: none;
      margin: 10px auto;
      padding: 20px 10px;
      width: 90%;
      display: block; }
      .answers li button:hover {
        background-color: #115e6d; }

.closing .content *:not(.loader),
.opening .content *:not(.loader) {
  display: none; }
