$lightBlue: rgb(52, 182, 255);

#quizEditor {

	counter-reset: question;

	display: flex;
	// flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;

  hr {
  	margin: 10px 0;
  }
  
  .modal {
	display: none;
  }
  
  .editor-panel {
	
	display: inline-block;
	
	&.editor-panel-slides {
	
	  .slides {
		list-style-type: none;
		padding: 0 10px;
		
		.slide {
		  cursor: pointer;
		  position: relative;
		  display: block;
		  padding: 5px;
		  margin-bottom: 10px;
		  
		  font-size: .8em;
		  color: WHITE;
		  border: 2px solid transparent;
		  
		  &.slide-active {
			.thumb:before{background: rgba(0, 0, 0, 0);}
			border-color: $lightBlue;
		  }
		  
		  &:not(.slide-active) {
			&:hover {
			  border-color: lighten($lightBlue, 20);
			  .thumb:before {background: rgba(0, 0, 0, 0);}
			}
		  }
		  
		  &.slide-button {

		  	background: #CCC;

		  	span {
		  		font-size: 9em;
		  		color: #888;
		  		width: 100%;
		  		text-align: center;
		  	}
		  }
		  
		  .thumb {
			position: relative;
			
			height: 100px;
			width: 100px;
		  
			background-image: url('http://placehold.it/150x150');
			background-size: cover;
			background-position: center;
			
			span {
			  position: absolute;
			  display: block;
			  bottom: 5px;
			  left: 5px;
			}
		  
			&:before {
			  content: '';
			  display: block;
			  height: 100%;
			  width: 100%;
			  background: rgba(0, 0, 0, .5);
			  
			  transition: background .2s linear;
			}
		  }
		  
		  &:after {
		  }
		  
		}

		.questions {
			max-height: 550px;
			overflow-y: scroll;
			box-shadow: inset 0 -2px 5px #CCC;
			margin-bottom: 10px;
			border: 1px solid #CCC;
			background: #F1F1F1;

			.slide:after {
				counter-increment: question;
				content: counter(question);

				position: absolute;
				top: 10px;
				left: 10px;
			}
		}
	  }
	  
	}
	
	&.editor-panel-editor {

		width: 80%;

		&> div {
			img {
				display: block;
				margin: 0 auto;
				padding: 10px;
				border: 1px solid #CCC;
			}

			&:not(.editor-active) {
				display: none;
			}
		}
	}
	
  }
  
}

#addQuestionButton, #saveQuizButton {
	display: block;
	margin: 0 auto 10px;
}